{% extends 'base.html' %}
{% load static %}

{% block page_title %} Projects {% endblock %}

{% block content %}
<!--who we are-->

<section class="mb-7 py-xl-9 py-5">

    <div class="container pb-xl-9 pb-5">
        <div class="row mb-4">
            <div class="col-xl-8 offset-xl-2 col-12">
                <div class="text-center mb-xl-7 mb-5 border-bottom">
                    <h2 class="mb-3">Projects That Matter</h2>
                    <p class="mb-0 mb-3">
                        From concept to code - explore the digital solutions I've crafted with passion and precision.
                    </p>
                </div>
            </div>
        </div>

        {% for project in projects %}
        <div class="row align-items-center g-4 mb-10">
            <div class="col-lg-6 col-md-12">
                <div class="me-xl-8">
                    <h1 class="mb-3">{{ project.title }}</h1>
                    <p class="lead mb-4">{{ project.description|truncatechars:100 }} </p>
                    <div class="mb-3">
                        <div class="d-flex flex-wrap gap-2">
                            {% for tech in project.techs %}
                                <span class="badge bg-primary-subtle text-primary d-flex align-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                                        <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
                                        <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                                    </svg>&nbsp;{{ tech }}
                                </span>
                                <br>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="mt-4">
                        <a href="{% url 'single_project' project.slug %}" class="btn btn-primary" type="button" >Go to the Project</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <figure>
                    <img src="{{ project.featured_image.url }}"
                        alt="{{ project.title }}" class="img-fluid rounded-3 w-100" 
                        style="height: 400px; object-fit: cover;" />
                </figure>
            </div>
        </div>
        {% endfor %}

    </div>
</section>
<!--who we are-->

{% endblock %}