{% extends 'base.html' %}
{% load static %}

{% block page_title %}
Contact
{% endblock %}

{% block content %}

<!--pageheader-->
 <!--contact us-->
<section class="mb-xl-9 my-5 mt-4">
    <div class="container">
        <div class="row mb-4">
            <div class="col-xl-8 offset-xl-2 col-12 mt-6 mb-6">
                <div class="text-center mb-xl-7 mb-5 border-bottom">
                    <h2 class="mb-3">Contact me</h2>
                    <p class="mb-0 mb-3">
                        You can contact me for any inquiries, suggestions, or feedback.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-12 col-12">
                <div class="row g-xl-7 gy-5">
                    <div class="col-md-7 col-6">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <form class="row g-3" method="post">
                                    {% csrf_token %}
                                    <div class="col-lg-6 col-md-12">
                                        <label for="{{ form.name.id_for_label }}" class="form-label">
                                            {{ form.name.label }}
                                            <span class="text-danger">*</span>
                                        </label>
                                        {{ form.name }}
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <label for="{{ form.last_name.id_for_label }}" class="form-label">
                                            {{ form.last_name.label }}
                                            <span class="text-danger">*</span>
                                        </label>
                                        {{ form.last_name }}
                                    </div>
                                    <div class="col-md-12">
                                        <label for="{{ form.email.id_for_label }}" class="form-label">
                                            {{ form.email.label }}
                                            <span class="text-danger">*</span>
                                        </label>
                                        {{ form.email }}
                                    </div>
                                    <div class="col-md-12">
                                        <label for="{{ form.phone_number.id_for_label }}" class="form-label">
                                            {{ form.phone_number.label }}
                                        </label>
                                        <div class="input-group">
                                            {{ form.phone_number }}
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="{{ form.company.id_for_label }}" class="form-label">
                                            {{ form.company.label }}
                                        </label>
                                        {{ form.company }}
                                    </div>
                                    <div class="col-md-12">
                                        <label for="{{ form.subject.id_for_label }}" class="form-label">
                                            {{ form.subject.label }}
                                            <span class="text-danger">*</span>

                                        </label>
                                        {{ form.subject }}
                                    </div>
                                    <div class="col-md-12">
                                        <label for="{{ form.message.id_for_label }}" class="form-label">
                                            {{ form.message.label }}
                                            <span class="text-danger">*</span>
                                        </label>
                                        {{ form.message }}
                                    </div>
                                    <div class="d-grid">
                                        <button class="btn btn-primary" type="submit">Send Message</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-12">
                        <div class="mb-7">
                            <div
                                class="icon-shape bg-primary bg-opacity-10 rounded icon-md mb-5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-git text-primary" viewBox="0 0 16 16">
                                <path d="M15.698 7.287 8.712.302a1.03 1.03 0 0 0-1.457 0l-1.45 1.45 1.84 1.84a1.223 1.223 0 0 1 1.55 1.56l1.773 1.774a1.224 1.224 0 0 1 1.267 2.025 1.226 1.226 0 0 1-2.002-1.334L8.58 5.963v4.353a1.226 1.226 0 1 1-1.008-.036V5.887a1.226 1.226 0 0 1-.666-1.608L5.093 2.465l-4.79 4.79a1.03 1.03 0 0 0 0 1.457l6.986 6.986a1.03 1.03 0 0 0 1.457 0l6.953-6.953a1.03 1.03 0 0 0 0-1.457"/>
                            </svg>
                            </div>
                            <div>
                                <h4>Project Collaboration</h4>
                                <p class="mb-0">
                                    Interested in collaborating on a project
                                    or discussing potential opportunities?
                                    Let's explore how we can work together.
                                </p>
                            </div>
                        </div>
                        <div class="mb-7">
                            <div
                                class="icon-shape bg-primary bg-opacity-10 rounded icon-md mb-5">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    width="16" height="16"
                                    fill="currentColor"
                                    class="bi bi-chat-dots text-primary"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                    <path
                                        d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z" />
                                </svg>
                            </div>
                            <div>
                                <h4>Technical Consultation</h4>
                                <p class="mb-0">
                                    Need help with a development project or
                                    looking for technical advice? I'm here
                                    to help with your coding challenges.
                                </p>
                            </div>
                        </div>
                        <div class="mb-7">
                            <div
                                class="icon-shape bg-primary bg-opacity-10 rounded icon-md mb-5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-vcard text-primary" viewBox="0 0 16 16">
                                <path d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4m4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5M9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8m1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5"/>
                                <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96q.04-.245.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 1 1 12z"/>
                            </svg>
                            </div>
                            <div>
                                <h4>Portfolio & Resume</h4>
                                <p class="mb-0">
                                    Want to learn more about my work,
                                    experience, or see examples of my
                                    projects? Check out<a href="{% url 'resume' %}" class="text-primary"> my Resume!</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--contact us-->
<!--pageheader-->

{% endblock %}