<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

    <title>Thank You for Subscribing</title>
</head>
<body>
    <div class="container my-5 border">
<div class="container text-center my-5">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6">
        <!-- Logo Section -->
        <!-- <div class="mb-4">
            <img src="{% static 'assets/images/logo/logo.svg' %}" alt="RGHO Logo" class="img-fluid" style="max-width: 200px;">        
        </div> -->
        <div class="card-header">
                <h1 class="mb-7">Thank you for subscribing!</h1>  
        </div>
</div>
    <div class="col">
    </div>
</div>
</div>
<div class="container my-5">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6">
    <p>Hello {{ receiver }},</p>
    <p>Thank you for subscribing to my newsletter! I'm excited to have you on board and will keep you updated with my latest news and updates.</p>
    <p>Best regards,<br>Rouhollah Ghobadinezad</p>    
    </div>
    <div class="col">
    </div>
  </div>
</div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js" integrity="sha384-7qAoOXltbVP82dhxHAUje59V5r2YsVfBafyUDxEdApLPmcdhBPg1DKg1ERo0BZlK" crossorigin="anonymous"></script></body>
</html>